* {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: #2f2f53;
    color: whitesmoke
}
a {
    text-decoration: none;
}
.block > * {
    display: block;
    margin-top: 1rem;
}
footer {
    margin-top: 10vh;
}